Repository ansys/pyworkbench-examples, pull requests merged in 2024-10, with the labels that each got.

#52 Example aedt
  .gitignore
  doc/source/_static/thumbnails/ansys-aedt-workflow.png
  doc/source/advanced-examples.rst
  doc/source/conf.py
  examples/ansys-aedt-workflow/assets/10_1000_Pulse.csv
  examples/ansys-aedt-workflow/assets/10_1000_Pulse_short.csv
  examples/ansys-aedt-workflow/assets/project.wbjn
  examples/ansys-aedt-workflow/main.py
  examples/ansys-aedt-workflow/scripts/DC_Cond_ThermTransient_VariableTimeStep.py
  requirements/requirements_examples.txt
Labels: docs

#81 update ci_cd for bot secrets
  .github/workflows/ci_cd.yml
Labels: ci

#88 New PR for Add Material Designer workflow example
  CONTRIBUTORS.md
  doc/source/advanced-examples.rst
  examples/material-designer-workflow/assets/project.wbjn
  examples/material-designer-workflow/main.py
Labels: enhancement, docs

#94 fix upload API call
  examples/pymechanical-integration/main.py
Labels: fix

#96 fix: update theme and actions
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/source/conf.py
  examples/ansys-aedt-workflow/assets/project.wbjn
  examples/ansys-aedt-workflow/main.py
  examples/ansys-aedt-workflow/scripts/DC_Cond_ThermTransient_VariableTimeStep.py
  examples/ansys-fluent-workflow/assets/jou/setup.jou
  examples/ansys-fluent-workflow/main.py
  examples/axisymmetric-rotor/main.py
  examples/axisymmetric-rotor/scripts/axisymmetric_rotor.py
  examples/axisymmetric-rotor/scripts/rotor_3d.py
  examples/cooled-turbine-blade/main.py
  examples/cooled-turbine-blade/scripts/cooled_turbine_blade.py
  examples/cyclic-symmetry-analysis/assets/project.wbjn
  examples/cyclic-symmetry-analysis/main.py
  examples/cyclic-symmetry-analysis/scripts/cyclic_symmetry_analysis.py
  examples/grantami-integration/main.py
  examples/logging/main.py
  examples/material-designer-workflow/main.py
  examples/pyfluent-workflow/main.py
  examples/pymechanical-integration/main.py
  requirements/requirements_doc.txt
  tox.ini
Labels: fix, ci, code-style
